.manage-specialty-container{
    padding: 0 15px;
    .ms-title{
        text-align: center;
        margin: 12px 0;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .btn-save-specialty{
        border: none;
        outline: none;
        background-color: orange;
        padding: 6px 16px;
        border-radius: 3px;
        color: #ffffff;
        font-weight: 500;
        min-width: 75px;
        &:hover{
            opacity: 0.6;
        }
    }
    .add-new-specialty{
        margin-bottom: 12px;
    }
}