.email-container {
    margin-top: 100px;
    .content-email {
        font-weight: 600;
        font-size: 1.4rem;
        text-align: center;
        color: red;
        text-transform: uppercase;
    }
}
